<?xml version = "1.0"encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "Suite1" verbose="1" parallel="tests" thread-count="1" configfailurepolicy="continue">

    <test name="Acceptance test">
        <!--<parameter name="param1" value="param1_value" />-->
        <classes>
            <class name="com.example.test.runner.TestRunner"/>
        </classes>
    </test>

</suite>